.about {
	@extend %page-padding;
	
	text-align: center;
	margin-top: 35px;
	margin-bottom: 20px;
	line-height: 30px;

	@media (min-width: $screen-xs-max) {
		font-size: 18px;
	}
	@media (max-width: $screen-xs-max) {
		font-size: 15px;
	}

	.conf-title {
		text-align: center;
		font-size: 23px;
		font-style: italic;
		color: #428bca;
	}
}

.about span {
	font-weight: 600;
}