h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family:Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

section h2 {
    text-align: center;
}

.main-title {
    font-weight: 600;
}

.second-title {
    font-size: 25px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.follow-buttons {
    width: 75px;
    margin: 0 auto;
}

html {
    height: 100%;
}

body {
    padding-top: 0;
    font-family:Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    @media screen and (max-width: $screen-sm) {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

%circle {
    background: #eee;
    border-radius: 250px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px #aaa;   
}

.circle-big {
    @extend %circle;
    width: 120px;
    height: 120px; 
}

.circle-small {
    @extend %circle;
    width: 80px;
    height: 80px;
}

%page-padding-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding: 0 50px 0 50px;
    }
}

%page-padding {
    @media (min-width: $screen-sm-min) {
        padding: 0 50px 0 50px;
    }
}

::selection {
    background: $blue;
    color: white;
}