@import "compass/utilities/sprites";
$social-icons-layout:horizontal;
@import "social-icons/*.png";
@include all-social-icons-sprites;


.contact-us {
	text-align: center;

	.contact-info a {
		@media (min-width: $screen-xs-max) {
			margin: 0 50px 0 50px;
		}
		display: inline-block;
		width: 80px;
		height: 80px;
		cursor: pointer;
	}
}