.organizers {
	@extend %page-padding;
	
	@media (max-width: $screen-md-max) {
		text-align: center;
	}

	.row {
		margin-bottom: 20px;
	}

	h4 > a {
		margin-left: 5px;
	}

	.about-conf {
		margin-top: 35px;
		margin-bottom: 35px;
	}
}