@mixin row-table {
  display: table !important;
  width: 100%; // firefox fix

  > [class*="col-"], > * > [class*="col-"]{
    float:none!important;
    display: table-cell!important;
    vertical-align: middle;
    &.td-top{ vertical-align: top!important; }
    &.td-bottom { vertical-align: bottom!important; }
  }  
}

.row-table.row-table-xs {
  @include row-table;
}

@media (min-width: $screen-sm) {
  .row-table {
    @include row-table;
  }
};