.speakers {
	@extend %page-padding;

	.row {
		margin-bottom: 20px;
	}

	li {
		list-style-type: none;
	 	margin-left: -45px; // my fix for row-table extra space
	 	padding-top: 20px;
	}

	.expand {
		cursor:pointer;
	}

	.expand:hover {
		background: #F1F7FC;
	}

	.name {
		@media screen and (max-width: 991px) {
			margin-left: 30px;
		}
	}

	.name h4 > a {
		margin-left: 5px;
	}

	.name p {
		font-weight: 600;
	}

	.description {
		display: none;
		@media (min-width: $screen-xs-max) {
			margin-left: 20%;
			width: 550px;
			padding-bottom: 20px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 0 20px 0 20px;
		}
	}

	.talk {
		font-weight: 600;
	}

	.about-me {
		font-style: italic;
		margin-top: 15px;
	}

	.talk-name {
		font-weight: 600;
		font-size: 19px;
		color: $blue;
		@media (min-width: $screen-xs-max) {
			text-align: right;	
		}
	}
	
	.talk-name .more:after {
		content: ' [+]'
	}

	.talk-name .less:after {
		content: ' [-]'
	}
}