.sponsors {
	@extend %page-padding;	
	text-align: center;

	@media (min-width: $screen-sm-max) {
		width: 1000px;
	}

	h3 {
		color: $blue;
		font-weight: 600;
	}

	.contact {
		@media (min-width: $screen-sm-min) {
			font-size: 25px;
		}
		@media (max-width: $screen-sm-min) {
			font-size: 17px;
		}
	}

	.add-new-container {
		display: table;
		margin: 0 auto;
	}

	.add-new {
		background: #F5F5F5;
		display: table;
		cursor: pointer;
	}

	.add-new:hover {
		background: #F1F7FC;
	}

	.add-new-platinum {
		width: 300px;
		height: 200px;
	}

	.add-new-gold {
		width: 200px;
		height: 133px;
	}

	.add-new-silver {
		width: 150px;
		height: 100px;
	}

	.add-new a {
		display: table-cell;
		vertical-align: middle;
	}

	@media (min-width: $screen-sm-min) {
		.platinum {
			margin-top: 10px;
			margin-bottom: 50px;
		}

		.gold {
			margin-top: 10px;
			margin-bottom: 50px;
		}

		.silver {
			margin-top: 10px;
			margin-bottom: 50px;
		}
	}

	@media (max-width: $screen-sm-min) { 
		[class*="col-"] {
			margin: 20px 0 20px 0;
		}
	}
}