// MAIN

$blue: #428bca;
$dark-gray: #6a7287;
$light-gray: rgb(133, 133, 133);
$navbar-main-background: rgba(255, 255, 255, 0.95);
$navbar-text-color: rgb(60, 60, 60);

// BOOTSTRAP

$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

// Navbar links
$navbar-default-bg: rgba(255, 255, 255, 0.95) !default;
$navbar-default-link-color: #FFF !default;
$navbar-default-link-active-color: #FFF !default;
$navbar-default-link-active-bg: inherit !default;