.venue {
	

	h3 {
		@extend %page-padding-sm;
		font-size: 18px;
		font-weight: 600;
		text-align: center;

	}
	
	.map {
		width: 100%;
		border: none;
		@media (min-width: $screen-xs-max) {
			height: 400px;
		}
		@media (max-width: $screen-xs-max) {
			height: 200px;
		}
	}
}